:root {
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --grey-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cream);
}

button, li {
  font-family: inherit;
}

h1 {
  color: var(--dark-blue);
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-blue);
}

p {
  color: var(--grey-blue);
  line-height: 1.8;
}

.price {
  color: var(--dark-cyan);
}

h1, .price {
  font-family: "Fraunces", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}